.header {
  padding-top: 1rem;

  min-height: 7rem;
  background-color: var(--clr-default-100);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__social {
    .footer__social {
      background-color: var(--clr-bg-main);
    }

    @media (max-width: em(767)) {
      display: none;
    }
  }
}
