.gallery {
  padding-top: 8rem;

  &__wrapper {
    gap: 4rem;

    @media (max-width: em(1023)) {
      gap: 3rem;
    }
  }

  &__slider {
    width: 100%;

    .product__pagination {
      @media (max-width: em(767)) {
        display: none;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media (max-width: em(1023)) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @media (max-width: em(767)) {
      display: flex;
      overflow-x: scroll;
      margin-left: -1.5rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      width: calc(100% + 3rem);
    }
  }

  &__item {
    overflow: hidden;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    height: 30rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow var(--transition), border var(--transition);

    @media (hover) {
      &:hover {
        border: 0.1rem solid var(--clr-default-100);
        box-shadow: 0 10px 51px rgba(0, 0, 0, 0.1),
          0 4px 19px rgba(0, 0, 0, 0.2);
      }
    }

    @media (max-width: em(767)) {
      min-width: 30rem;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-bottom: 65%;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (max-width: em(1023)) {
    padding-top: 5rem;
  }
}
